<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Python File</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>Python Code Analyzer</h1>
</header>

<div class="container">
    <div class="card">

        <h2 class="section-title">Upload Python File</h2>

        <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">

            <
            <label for="fileInput" class="file-label">Choose Python File</label>
            <input id="fileInput" type="file" name="file" accept=".py">

            
            <p class="filename" id="fileName">No file selected</p>

            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}

            
            <button class="upload-btn" type="submit">Analyze</button>

        </form>

    </div>
</div>

<script>
document.getElementById("fileInput").addEventListener("change", function(){
    const name = this.files.length ? this.files[0].name : "No file selected";
    document.getElementById("fileName").textContent = name;
});
</script>

</body>
</html>