body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    background: #ffffff;
    background-image: none
}

header {
    text-align: center;
    padding: 35px 20px;
    background: #30103d;
    color: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

header h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
}


.container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}


.card {
    background: rgb(243, 233, 249);
    padding: 40px 45px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.12);
    text-align: center;
    transition: 0.3s;
    border: 1px solid #eaeaea;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 35px rgba(0, 0, 0, 0.15);
}

.card h2 {
    margin: 0 0 25px;
    color: #3b3b3b;
    font-size: 23px;
}


.file-label {
    display: block;
    background: #765688;
    color: #ffffff;
    padding: 13px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 18px;
    transition: 0.25s;
    font-weight: 600;
}

.file-label:hover {
    background: #5a386e;
}

input[type="file"] {
    display: none;
}


.filename {
    margin: 10px 0 20px;
    font-size: 14px;
    color: #555;
    font-style: italic;
}


.upload-btn {
    width: 100%;
    padding: 14px;
    background: #765688;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s;
    letter-spacing: 0.3px;
}

.upload-btn:hover {
    background: #5a386e;
}